{% extends 'globalMedical/base.html' %}
{% load staticfiles %}

{% block content %}
	<div class='row full-screen'>
		<div class='col s12 m6 push-m3 login-panel valign-wrapper'>
			<div class='card blue-grey darken-1 valign full-width'>
				<div class='card-content white-text'>
					<span class='card-title center-align'>Login Panel</span>
					<div class='card-inner-content'>
						<div class='row no-bottom-margin'>
							<form class='col s12'>{% csrf_token %}
								<div class='row'>
									<div class='input-field col s12'>
										<input id='email' type='email' class='validate' >
										<label for='email'>Email (ex. jane@mail.com)</label>
									</div>
								</div>

								<div class='row'>
									<div class='input-field col s12'>
										<input id='password' type='password' class='validate'>
										<label for='password'>Password</label>
									</div>
								</div>
								
							</form>
						</div>
					</div>
				</div>
				<div class='card-action'>
					<a class="waves-effect waves-light btn transparent-btn" id='loginButton' disable='!auth.canLogin'>Login</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script type="text/javascript" src="{% static 'js/plugins/authentication.js' %}"></script>
{% endblock %}