<nav>
	<div class='nav-wrapper'>
		<a href='/dashboard' class='brand-logo left'><i class='material-icons'>cloud</i>GM&HS</a>
		<ul class='right'>
			<li><a href='#'><i class='material-icons'>search</i></a></li>
			<li><a href='#'><i class="material-icons">view_module</i></a></li>
			<li><a href='/auth/logout'><i class='material-icons'>lock_outline</i></a></li>
		</ul>
	</div>
</nav>