body {
	background-color: rgba(84,110,122,0.72);
}

.full-screen {
	height: 100%;
	width: 100%;
}

.login-panel {
	height: 100%;
}

.full-width {
	width: 100%;
}

.login-panel .card-content {
	padding: 10px 0 0 0;
}

.login-panel .card-title {
	border-bottom: 1px solid rgba(160,160,160,0.2);
	padding-bottom: 10px;
}

.login-panel .card-inner-content {
	padding: 20px;
	padding-bottom: 0;
}

.no-bottom-margin {
	margin-bottom: 0;
}

input {
	padding-left: 10px !important;
	color: white !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #546e7a inset !important;
    color: white !important;
    background-color: none !important;
}

.transparent-btn {
	background-color: transparent;
	border-radius: 20px;
	border: 2px solid rgba(255,255,255,0.5);
	color: rgba(255,255,255,0.5);
}

.transparent-btn:hover {
	background-color: transparent;
	border-color: #fcf8e3;
	color: #fcf8e3;
}

nav a:hover {
	text-decoration: none !important;
}


nav {
	background-color: #1c3d4c;
}
