{% load staticfiles %}
<html>
    <head>
    	<!--Let browser know website is optimized for mobile-->
     	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    	<title>Global Medical | {{ title }}</title>
        <!--Import Google Icon Font-->
      	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
        <!-- bootstrap -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <!-- google materials -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">

		<!-- custom  -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        
    </head>
    <body>
    	<div class='full-screen'>
    		<!-- include the navbar if login -->
    		{% if is_login %} 
    			{% include 'globalMedical/partials/navbar.html' %}
    		{% endif %}
        	{% block content %}{% endblock %}
    		
        </div>

        <!-- jdquery -->
	    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
	    <!-- bootstrap -->
	    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	    <!-- google materials -->
	    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
	    <!-- custom -->
	    <script type="text/javascript" src="{% static 'js/plugins/utils.js' %}"></script>
	    {% block script %}{% endblock %}
	    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>
    
</html>